.pokemon-expand{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 123;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-expand-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-expand-content{
    position:relative;
    max-width: 1200px;
}

.pokemon-expand-content img{
    display: block;
    max-width: 100%;
    max-height: calc(100vh-120px);
    margin-left: auto;
    margin-right: auto;
}

.pokemon-expand-content h4{
    color: white;
    text-align: center;
}